$color-primary-light: #dd5b5b; 
$color-primary: #9c0302; 
$color-primary-dark: #6e0000;

$color-secondary-light: #9bf5ec; 
$color-secondary: #009688; 
$color-secondary-dark: #00574e; 

$color-white: #f1f1f1;
