@import 'abstracts/variables';
@import 'abstracts/utilities';

@import 'base/reset';
@import 'base/typography';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/form';
@import 'layout/nav';

@import 'components/buttons';
@import 'components/modal';
@import 'components/loader';

@import 'pages/home';
@import 'pages/privacy';

@import 'vendors-extensions/bootstrap'