.footer {
  height: 3rem; 
  background-color: $color-primary;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  &__container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
  }

  &__logo-box {
    padding: .5rem; 
  }

  &__logo {
    height: 2rem; 
  }

  &__links {
    padding-right: 1rem;
    font-size: .8rem;
    font-weight: 700;
  }

  &__link-item {
    color: $color-white;

    &:not(:last-child) {
      padding-right: 1rem;
    }

    &:hover {
      text-decoration: none; 
      color: rgb(182, 182, 182); 
    }
  }

}