.header {
    background-image: url(../../img/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 25em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 991px) {
        flex-direction: column;
    }

    &__logo-box {
        @media screen and (max-width: 991px) {
            text-align: center;
        } 
    }

    &__logo {
        padding: 2em;
        width: 60%;
        margin-top: -5em;   

        @media screen and (max-width: 991px) {
            margin-top: 2em;
            padding: 0;
        }

        @media screen and (max-width: 465px) { 
            width: 75%;
         }
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 3em;
        white-space: nowrap;

        @media screen and (max-width: 991px) {
            padding: 2em;
            flex-direction: column-reverse;
        }
    }

    &__text {
        color: $color-white; 
        font-weight: 700; 
        font-size: 2em;
        text-transform: uppercase;

        @media screen and (max-width: 991px) {
            margin-bottom: .25em;
            font-size: 1.5em;
        }
    }
}