.new__btn {
    background-color: $color-secondary;
    color: $color-white; 
    font-size: 1.4em; 
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: $color-secondary-dark;
    }
}